<!--

XML module description

-->

<module xmlns="http://www.mr.inf.tu-dresden.de/spartanmc/module" name="pwm" text="PWM" type="peripheral" category="Interface">
  
	<description>
		The PWM Module is a SpartanMC peripheral offering a configurabel amount (1-18) of PWM channels. The PWM channels can be configured in frequency and duty cycle by software.
		Also the phase to a (module internal) reference signal can be set for each channel individually.
	</description>
	
	<interface toplevel="spmc_pwm" registers="4" />
	
	<parameters>
		<!--<parameter name="BASE_ADR" type="hex" value="0x10" />-->
		<parameter name="CHANNELS" type="int" value="4" >
		  <range min="1" max="1179648"/>
		</parameter>
	</parameters>
	
	<ports group="PWM channels" direction="output">
          <port name="pwm" width="${CHANNELS}"/>
        </ports>
</module>
