.directory
/.settings
/doc

jconfig.log
/testsystem/build
/testsystem/system
/testsystem/firmware
/testsystem/Makefile
/testsystem/system.xml
/testsystem/flash.sh

*.o
*.d
/PC/fpga-log

*.user
/build-*

/projects

*fahrtest*
