<?xml version="1.0" encoding="UTF-8"?>
<peripheral xmlns="soc-library" xmlns:xi="http://www.w3.org/2001/XInclude" document-type="soc-dmadevice-1.0">
  <header category="MassStorage" label="SD-Card controller" name="sdcard">
    <description>The SD-Card controller can be used to interface sd cards. 
		It supports card initialization and block read/write on hardware.</description>
  </header>
  
  <hdl lang="verilog" toplevel="spmc_sd_card">
    <sources toolchain="xilinx">
      <modules />
      <files>spmc_sd_card.v</files>
    </sources>
  </hdl>
  
  <parameters>
    <parameter name="CLOCK_FREQUENCY" type="int" value="16000000" />
  </parameters>
  
  <xi:include href="../defaults/peripheral.xml" />
  <xi:include href="../defaults/dma.xml"/>
  <ports group="SD card">
    <port name="sd_miso" descr="MISO signal of the SD card" direction="input" />
    <port name="sd_mosi" descr="MOSI signal of the SD card" direction="output" />
    <port name="sd_clk" descr="clock signal of the SD card" direction="output" />
    <port name="sd_cs" descr="CS (SS) signal of the SD card" direction="output" />
  </ports>
  <ports group="timestamp_dummy">
    <port name="ts_dummy" descr="%Insert port description here%" direction="output" />
  </ports>
    
  <registers>
    <register access="read" name="VERSION" offset="0">
      <description>%Insert register description here%</description>
    </register>
    <register access="write" name="SPI_MASTER_CONTROL_REG" offset="1">
      <description>%Insert register description here%</description>
    </register>
    <register access="write" name="TRANS_CTRL" offset="1">
      <description>%Insert register description here%</description>
    </register>
    <register access="read" name="TRANS_ERROR" offset="2">
      <description>%Insert register description here%</description>
    </register>
    <register access="readwrite" name="DIRECT_ACCESS_DATA" offset="3">
      <description>%Insert register description here%</description>
    </register>
    <register access="readwrite" name="SD_ADDR_17_0" offset="4">
      <description>%Insert register description here%</description>
    </register>
    <register access="readwrite" name="SD_ADDR_31_18" offset="5">
      <description>%Insert register description here%</description>
    </register>
    <register access="readwrite" name="SPI_CLK_DEL" offset="6">
      <description>%Insert register description here%</description>
    </register>
  </registers>
  
  <memory instance="sdcard/u_sm_fifo/fifo_mem" size="1024"/>
  
</peripheral>

