<!--

XML module description created from .mod file by automated conversion.
Since some information covered by the new format is not provided by
the old .mod-format, it needs to be added manually.

For this file this would be:
- module description
- direction of ports (attribute direction of element ports)
  (use ports-element to group port elements by direction)
- width of ports (attribute width of element port, defaults to 1)

-->

<module xmlns="http://www.mr.inf.tu-dresden.de/spartanmc/module" name="compare" text="Compare unit" type="peripheral" category="Timer/Counter">
	<description>
		%insert module description here%
	</description>
	<interface toplevel="timer_compare" registers="2" />
	<parameters>
		<!--<parameter name="BASE_ADR" type="hex" value="0x60" />-->
	</parameters>
	<ports direction="output">
		<port name="intr" />
		<port name="pin_out" />
	</ports>
	<ports direction="input">
		<port name="timer_data" width="18" />
	</ports>
</module>
