<?xml version="1.0" encoding="UTF-8"?>
<module document-type="soc-module-1.0" xmlns="soc-library">
  <header category="Clock" label="clock divider" name="clk_div">
    <description> 
      The clock divider module can be used to divide a clock by a fixed value.
    </description>
  </header>
  
  <hdl lang="verilog" toplevel="clk_div">
    <sources toolchain="xilinx">
      <modules/>
      <files>
	clk_div.v
      </files>
    </sources>
  </hdl>
  
  <parameters>
    <parameter name="DIVISION" type="int" value="8000" />  
  </parameters>
  
  <ports direction="input" group="Inputs">
    <port descr="input clock" name="clk_i"/>
  </ports>
  <ports direction="output" group="Inputs">
    <port descr="output (divided) clock signal" name="clk_o"/>
  </ports>
</module>
